/*--- Burger ---*/
.header__burger{
  display: none;
  position: relative;
  justify-content: center;
  width: 24px;
  height: 14px;
  cursor: pointer;
}
.header__burger::before, .header__burger::after{
  content: "";
  background: #fff;
  position: absolute;
  width: 18px;
  height: 2px;
}
.header__burger span{
  position: absolute;
  background: #fff;
  width: 18px;
  height: 2px;
  top: 6px;
}
.header__burger::before{
  top: 0;
}
.header__burger::after{
  bottom: 0;
}