.lang-text{
  padding: 5px 0;
  cursor: pointer;
}

.language{
  position: relative;
  display: inline-block;
}

.language-button{
  display: flex;
  gap: 4px;
}

.lang-content{
  display: none;
  position: absolute;
  background-color: #000000;
  width: 50px;
}

.lang-content a{
  padding: 2px 0 2px 25px;
  text-decoration: none;
  display: block;
}

.lang-content a:hover{
  background-color: #171717
}

.language:hover .lang-content{
  display: block;
}