html{
  scroll-behavior: smooth;
}

/*--- Body ---*/

body{
  background: #0E0E0E;
  color: #fff;
  margin: 0;
  padding: 0;
}

/*--- Text ---*/

h1{
  font-family: 'Akzidenz-Grotesk Pro';
  margin: 0;
}

p{
  size: 18px;
  margin: 0;
}

a{
  text-decoration: none;
  color: #fff;
}

/*--- Menu ---*/

li{
  list-style: none;
}

.header__list{
  display: flex;
  margin: 18px 40px;
  padding: 0;
  gap: 32px;
}

/*--- Header ---*/

.accordion-menu{
  display: flex;
  font-size: 16px;
  margin: 24px 90px 30px 90px;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 74px;
  height: 48px;
}

.logo img{
  width: 100%;
}

.menu-buttons{
  display: flex;
  align-items: center;
  gap: 16px;
}

/*--- Wrapper ---*/

.wrapper{
  background: url(../img/Background.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  gap: 100px;
  flex-direction: column;
  padding: 70px 100px 102px 100px;
}

.hero-text{
  display: flex;
  flex-direction: column;
  width: 630px;
  gap: 16px;
  margin: 0;
}

.intro{
  width: 505px;
}

.button{
  background: #2FA8DF;
  font-weight: 600;
  display: flex;
  width: 211px;
  height: 59px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.bg-mob{
  display: none;
}

/*--- Additional ---*/

.additional img{
  background-size: 70px;
  background-color: rgba(250, 250, 250, 10%);
  border-radius: 20px;
  padding: 17px 15.5px;
}

.additional{
  display: flex;
  gap: 20px;
}

.add-text{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  width: 266px;
}

.add-text p{
  color: rgba(250, 250, 250, 60%);
  font-weight: 400;
}

.add-text a{
  font-weight: 700;
}