/* Responsive */

/* Large: 992px - 1199px */
@media (max-width: 1199px) {
}

/* Medium: 768px - 991px */
@media (max-width: 991px) {
  .menu-buttons .button{
    display: none;
  }
}

/* Small: 576px - 767px */
@media (max-width: 767px) {
  /*--- Menu ---*/
  .header__burger {
    display: flex;
  }
  .header__menu {
    display: flex;
    position: fixed;
    justify-content: center;
    border-radius: 0 0 0 20px;
    top: 0;
    margin: 0;
    background: #fff;
    width: 278px;
    height: 400px;
    right: -100%;
    transition: right 0.5s;
    z-index: 1001;
  }
  .header__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    transition: right 0.5s;
    z-index: 1002;
  }
  li a{
    color: #000;
  }
  .header__menu.active{
    right: -70%;
    transform: translateX(-100%);
  }
  .overlay.active {
    display: block;
  }

  /*--- Other ---*/
  .accordion-menu {
    margin: 24px 5% 30px 5%;
  }
  .menu-buttons {
    display: none;
  }
  .wrapper {
    padding: 70px 5% 102px 5%;
  }
  .hero-text, .intro {
    width: 100%;
  }
}

/* Extra small: 0px (320px) - 575px */
@media (max-width: 575px) {
  .container{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .logo{
    width: 56px;
    height: 36px;
  }
  .wrapper{
    background: none;
    padding: 0;
    margin: 0 5%;
    gap: 0;
    z-index: 2;
  }
  .hero-text{
    align-items: center;
    width: 100%;
    gap: 24px;
  }
  h1{
    font-size: 25px;
    width: 100%;
  }
  .intro{
    font-size: 16px;
    width: 100%;
  }
  .button-img{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 112%;
  }
  .button{
    display: flex;
    position: absolute;
    width: 90%;
  }
  .additional{
    display: none;
  }
  .bg-mob{
    display: block;
    position: relative;
    margin: 25px 0px 0px 0px;
    width: 100%;
    z-index: -1;
  }
}